body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif ;
}

#mainNav {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNav .nav-link {
    color: white;
}

#mainNav .nav-link:hover{
    color: #ea1c2c;
}

#mainNav .navbar-brand {
    color: #ea1c2c;
}

