body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif ;
}

#mainNav {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNav .nav-link {
    color: white;
}

#mainNav .nav-link:hover{
    color: #ea1c2c;
}

#mainNav .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;

}

#headingGroup span {
    color: #ea1c2c;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}

